<!DOCTYPE html>
<html ng-app="classPage">
  <head>
    <title>North Union Math</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  </head>
  <body ng-controller="ClassListController as teacher">
    <div class="header">
      <h1>Ms. Chizek's Math Classes</h1>
    </div class="container">
        <div>Courses: Click the course you wish to find lesson plans for & accompanied documents. </div>
      <!-- <div ng-repeat = "aclass in clalist.classes" > -->
        <section ng-controller="TabController as tab">

          <ul class="nav nav-pills">

            <span  >
            <li  ng-repeat = "aclass in teacher.classes" ng-class="{active:tab.isSet($index+1)}">
              <a href ng-click="tab.setTab($index+1)">{{teacher.classes[$index+1].title}}</a>
            </li>
            <!-- <li ng-class="{active:tab.isSet(2)}">
              <a href ng-click="tab.setTab(2)">Algebra 1</a>
            </li>
            <li ng-class="{active:tab.isSet(3)}">
              <a href ng-click="tab.setTab(3)">Algebra 1 Lab</a>
            </li>
            <li ng-class="{active:tab.isSet(4)}">
              <a href ng-click="tab.setTab(4)">Algebra 2</a>
            </li> -->
          </span>
          </ul>
          <div ng-repeat = "aclass in teacher.classes" >
         <div class="tab" ng-show="tab.isSet({{$index+1}})">
           {{aclass.title}}
           <div class="times" ng-repeat="time in aclass.times">
           <p>{{time}}</p>
         </div>
        </div>
      </div>
      </section>
    <!-- </div> -->
        <!-- <li ng-class="{active:tab.isSet(2)}">
          <a href ng-click="tab.setTab(2)">Students</a>
        </li> -->


    <!-- <div class="row" ng-repeat = "aclass in clalist.classes" >
      <div class="eachClassTitle col-xs-4">
        <h3>{{aclass.title}}</h3>
        <h5>{{aclass.time}}</h5>
      </div>
      <div class="eachClassDetails col-xs-8">
        <p>{{aclass.description}}</p>
      </div>
    </div>
    </div> -->
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
